* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('malte-wingen-355701-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataset {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.8);
}

.dataset div {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dataset div span {
  width: 10%;
  padding: 1em;
  flex-grow: 1;
}

.dataset div span:first-child {
  display: flex;
  flex-wrap: wrap;
  width: 7%;
}

.dataset div:not(:first-child) span {
  padding: 0 0 0 1em;
}
